header,
main,
nav,
footer,
section,
article,
figure,
figcaption,
aside {
    display: block;
}


body {
    background-color: #E0F6F4;
    color: #FFFFFF;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom, #FFFFFF, #0099CC); 
}
   
body main {background-image: url(MorningFog.jpg);
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
           padding: 2em;
           margin-top: 1em;
}

main {overflow: auto;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      }

body main ul {list-style-type: none;
              text-align: left;
              }


body p { color: #FFFF00;
        padding: 3px;
        border-radius: 10px;
        text-align: left;
        text-indent: 3em;
        }

header {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;
    padding: 5px;
    background-image: url(LoonBack.jpg);
    background-repeat: no-repeat;
    background-size: 600px 100px;
    border-radius: 20px;
    text-align: center;
    height: 80px;
    width: 550px;
}

h1 {
    color: #0066FF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #0066FF;
    text-shadow: 0px 2px 0px #ccc;
}

h3 {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #0066FF;
}
h4 {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #0066FF;
    text-align: center;
}

nav a {color: #000000;
       text-decoration: none;
       font-size: 1.2em;
       display: inline;
       margin: 7px;
}

nav a:link { color: #0066FF; }
nav a:visited { color: blue; }
nav a:hover { color: deepskyblue;}
    

nav ul {
    text-decoration: none;
    font-size: 1.2em;
    margin: 3px;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 400px;   
    text-align: left;
}


footer {
    font-family: Cambria, Georgia, serif;
    font-size: .75em;
    font-style: italic;
    text-align: center;
    color: blue;
}

figure {width: 100px;
        margin: 5px;
        padding-bottom: 4px;
        background-color: #33CCFF;
        border: 2px solid #000000;
}

figcaption {text-align: center;
            font-size: .8em;
            font-style: italic;
}


.gray { color: #666666;
}

#ListStyle {list-style-type: circle; }

#noListStyleImage {list-style-image: none;}

#new {
    color: red;
    font-weight: bold;
}


#yellow {
    color: yellow;
 }

#weblink {
    color: deepskyblue;
    font-weight: bold;
    font-size: 120%;
}


#gallery {
    position: relative;
}

#gallery ul {
    width: 250px;
    list-style-type: none;
}

#gallery li {
    display: inline;
    padding: 10px;
}

#gallery img {
    border-style: none;
}

#gallery a {
    text-decoration: none;
    color: #333;
    font-style: italic;
}

#gallery span {
    display: none;
}

#gallery a:hover span {
    display: block;
    position: absolute;
    top: 10px;
    left: 300px;
    text-align: center;
}


#mobile {
    display: none;
}

#desktop {
    display: inline;
}


@media only screen and (max-width: 64em) {
    body {
        margin: 0;
    }
    #wrapper {
        min-width: 0;
        width: auto;
    }

    main {
        margin-left: 0;
        width: auto
    }

    nav li {
        display: inline;
        padding-top: .25em;
        padding-bottom: .25em;
        padding-right: .75em;
        padding-left: .75em;
    }
    footer {
        margin-left: 0;
    }
    
    body main {
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
           padding: 2em;
           margin-top: 2em;
    }
    
}


@media only screen and (max-width: 37.5em) {
    header {
        padding-top: 1em;
    }
    main {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }
    
    body main {
           background-image: none;
           padding: 2em;
           margin-top: 1em;
    }
    
    h1 {
        font-size: 1.5em;
    }
    nav {
        padding: 0;
    }
    nav li {
        display: block;
        margin: 0;
        border-bottom: 2px solid #330000;
    }
    nav a {
        display: block;
    }
    footer {
        margin-left: 0;
    }
   
    label {
        float: none;
        text-align: left;
    }
    
    input[type="submit"] {
        margin-left: 0px;
    }
   
    
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
    #gallery {
        display: none;
    }
}





